<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Smart Liquid Tree System</title>

  <!-- GLOBAL CSS -->
  <link rel="stylesheet" href="/css/global.css">
</head>
<body>
<nav>
  <h2>SLTS 🌱</h2>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/user">Zone</a></li>
    <li><a href="/map">India AQI</a></li>
    <li><a href="/predictor">Predictor</a></li>
    <li><a href="/about">About</a></li>
  </ul>
</nav>
