<%- include("partials/header") %>

<!-- ABOUT PAGE CSS -->
<link rel="stylesheet" href="/css/user.css" />

<h2>About Liquid Trees</h2>
<p>
Liquid Trees use microalgae to absorb CO₂ and release oxygen,
making them ideal for dense urban environments.
</p>

<%- include("partials/footer") %>
