<%- include("partials/header") %>
<link rel="stylesheet" href="/css/home.css" />

<section class="hero">
  <h1 id="animatedText"></h1>
  <p class="quote">
    “Liquid Trees are the future lungs of smart cities.”
  </p>
</section>

<script src="/js/home.js"></script>
<%- include("partials/footer") %>
