<%- include("partials/header") %>

<!-- MAP PAGE CSS -->
<link rel="stylesheet" href="/css/map.css" />

<h2>India Air Quality Dashboard</h2>
<div id="map"></div>

<link
  rel="stylesheet"
  href="https://unpkg.com/leaflet/dist/leaflet.css"
/>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="/js/map.js"></script>

<%- include("partials/footer") %>
