h2 {
  text-align: center;
  margin: 2rem 0;
  color: #bbf7d0;
}

#map {
  height: 520px;
  width: 90%;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0 0 25px rgba(0, 255, 150, 0.3);
}

.note {
  text-align: center;
  font-size: 0.85rem;
  margin-top: 1rem;
  opacity: 0.7;
}
